/* vim: set et sw=4 sts=4 ts=4: */
#title
{
    font-weight: bold;
    font-size: x-large;
    color: #296794;
    text-align: center;
}

#version
{
    font-size: medium;
    color: #4D98CE;
    text-align: center;
}

groupbox
{
    background-color: #ffffff;
}

.subtitle
{
    font-size: medium;
    text-align: center;
    border-bottom: #ccc 1px solid;
}

.description, .username
{
    margin-left: 1em;
    padding-left: 1em;
}

.username
{
    font-style: italic;
}

.name
{
    font-weight: bold;
}

.contrib
{
    font-size: x-small;
}

.url-label
{
    text-decoration: underline;
    color: #0000ff;
    cursor: pointer;
}

.url-label.internal-link
{
    text-decoration: none;
}

.important
{
    font-size: 1.5em;
}
