/* vim: set et sw=4 sts=4 ts=4: */
#gamefoxAbout
{
    padding: 0 0 10px 0;
}

#clientBox
{
    background: #fff;
    padding: 10px;
}

#groove
{
    margin-top: 0;
}

#title
{
    font-weight: bold;
    font-size: large;
}

#version
{
    font-weight: bold;
    color: #909090;
}

.subtitle
{
    font-weight: bold;
}

.url-label
{
    text-decoration: underline;
    color: #0000ff;
    cursor: pointer;
}

.important
{
    font-size: 1.5em;
}

.boxIndent
{
    -moz-margin-start: 6px;
}
