#gamefox-prefwindow
{
    max-width: 600px;
}

#gamefox-prefwindow radio[pane]
{
    list-style-image: url('options.png');
}

radio[pane=gamefox-page-pane]
{
    -moz-image-region: rect(0px, 32px,  32px, 0px);
}

radio[pane=gamefox-theme-pane]
{
    -moz-image-region: rect(0px, 64px,  32px, 32px);
}

radio[pane=gamefox-quote-pane]
{
    -moz-image-region: rect(0px, 96px,  32px, 64px);
}

radio[pane=gamefox-sig-pane]
{
    -moz-image-region: rect(0px, 128px,  32px, 96px);
}

radio[pane=gamefox-mouse-pane]
{
    -moz-image-region: rect(0px, 192px,  32px, 160px);
}

radio[pane=gamefox-topics-pane]
{
    -moz-image-region: rect(0px, 160px,  32px, 128px);
}

radio[pane=gamefox-users-pane]
{
    -moz-image-region: rect(0px, 224px, 32px, 192px);
}

radio[pane=gamefox-manage-pane]
{
    -moz-image-region: rect(0px, 256px, 32px, 224px);
}

