/* vim: set et sw=2 ts=2 sts=2 tw=79: */
body
{
  font: .8em 'Arial', sans-serif;
  text-align: center;
  background: #eee;
  margin: 0;
}

a
{
  color: #03c;
  font-weight: bold;
}
a:hover
{
  text-decoration: underline;
}

iframe
{
  border: 0;
}

#title
{
  background: #6564ff;
  padding: 2px;
  margin: 0 0 5px 0;
}
#title a
{
  color: #fff;
}

.search-head
{
  clear: both;
  font-weight: bold;
  margin: 5px 0;
  background: #636ab6;
  color: #fff;
  padding: 2px;
}
.search-head a
{
  color: #fff;
}

.quicknav, .platformlist
{
  text-align: left;
}

.quicknav
{
  float: left;
  margin-left: 5px;
  margin-right: 20px;
}

.platformlist
{
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}

input[name="game"]
{
  width: 70%;
}

#accounts-menu
{
  text-align: left;
  margin-left: 5px;
}
