#gamefox-button-sidebar
{
  list-style-image: url("chrome://gamefox/skin/btn-sidebar-large.png");
  }

#gamefox-button-options
{
  list-style-image: url("chrome://gamefox/skin/btn-options-large.png");
}

toolbar[iconsize="small"] #gamefox-button-sidebar
{
  list-style-image: url("chrome://gamefox/skin/btn-sidebar-small.png");
  }

toolbar[iconsize="small"] #gamefox-button-options
{
  list-style-image: url("chrome://gamefox/skin/btn-options-small.png");
}
