/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
 *                    GameFAQs Alternate CSS by Aquatakat                    *
 *                  Copyright 2005 Ryan 'Aquatakat' Rosser                   *
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@-moz-document domain(boards.gamefaqs.com), domain(www.gamefaqs.com)
{
		/* General */

body {
    height: 100% !important;
}
#gnenav {
	display: none !important;
}
#page {
	background: #ddd !important;
	color: #000 !important;
	width: auto !important;
}
* {
	color: #000 !important;
	height: auto !important;
	width: auto !important;
}

		/* Links */

a {
	color: #246 !important;
	font-weight: inherit !important;
	text-decoration: underline !important;
}
a:visited {
	color: #666 !important;
}
a:hover {
	color: #000 !important;
	text-decoration: none !important;
}

		/* Header - All */

.header {
	background: transparent !important;
	height: 60px !important;
	position: fixed !important;
	top: 0 !important;
	z-index: 2 !important;
}
.header:hover { /* For the search box that pops out */
	height: 71px !important;
}

		/* Header - Top */

.header #headertop {
	background: #369 !important;
	border-bottom: 1px solid #246;
	height: 32px !important;
	opacity: .9 !important;
}

		/* Header - Top - Logo */

#logo {
	background: none !important;
}
#logo a {
	color: #fff !important;
	font-size: 26px !important;
	font-weight: bold !important;
	padding-left: 4px !important;
	text-decoration: none !important;
}
#logo a:before {
	content: "GameFAQs" !important;
}
#logo img {
	display: none !important;
}

		/* Header - Top - Login Box */

#loginbox {
	margin: 4px 5px 0 0 !important;
	opacity: 1 !important;
	padding: 0 !important;
	width: 300px !important;
}
#loginbox div {
	color: #fff !important;
	float: none !important;
	font-size: 10px !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: right !important;
}

		/* Header - Top - Login Box - Logged Out */

#logtext,
#logbutton {
	display: none !important;
}
#loginbox input {
	background: #fff !important;
	border: 0 !important;
	color: #000 !important;
	font: 10px/10px "Verdana", sans-serif !important;
	margin: 0 !important;
	padding: 1px !important;
	text-align: left !important;
}
#loginbox a,
#loginbox a:visited {
	color: #fff !important;
	text-decoration: none !important;
}

		/* Header - Top - Login Box - Logged In */

#welcomelink a:first-child:before {
	content: " (Log Out)" !important;
}
#welcomelink a:last-child:before {
	content: " (Manage Account)" !important;
}
#welcomelink img {
	display: none !important;
}

		/* Header - Bottom */

#headerbottom {
	background: #eee !important;
	border-bottom: 1px solid #bababa !important;
	height: 20px !important;
	overflow: hidden !important;
}
#headerbottomleft {
	float: none !important;
}
#headerbottomleft div {
	color: #999 !important;
	font-size: 10px !important;
	line-height: 20px !important;
	width: auto !important;
}
#headerbottomleft a,
#headerbottomleft a:visited {
	color: #246 !important;
	font-weight: bold !important;
	text-decoration: none !important;
}
#quicknav {
	float: left !important;
	margin: 0 !important;
	padding: 0 0 0 4px !important;
}
#platformlist {
	float: right !important;
	margin: 0 !important;
	padding: 0 4px 0 0 !important;
}

		/* Header - Popout */

#headerbottomright {
	background: #eee !important;
	border-left: 1px solid #fff !important;
	border-bottom: 1px solid #bababa !important;
	display: none !important;
	float: none !important;
	padding: 0 0 3px !important;
	position: fixed !important;
	right: 0 !important;
	top: 53px !important;
}
#quicksearch {
	margin: 0 !important;
}
#searchtextbox {
	background: #fff !important;
	border: 0 !important;
	margin: 0 4px !important;
	padding: 1px 2px !important;
}
#jumper,
#searchbutton {
	display: none !important;
}
.header:hover #headerbottomright,
#headerbottomright:hover {
	display: block !important;
}

		/* Content Wrappers */

.content {
	color: #000 !important;
	float: none !important;
	padding: 60px 9px 20px !important;
    height: 100% !important;
}
.content2,
.newon {
	color: #000 !important;
	float: none !important;
	margin: 0 !important;
}

		/* Advert */

.adbox {
	display: none !important;
}

		/* Tables */

.genrebox {
	border: 0 !important;
	float: none !important;
	margin: 3px 0 0 !important;
	padding: 0 !important;
}
.boardnav + .genrebox,
.boardnav + p .genrebox,
.boardnav + p + .genrebox {
	margin: 0 1px !important;
}
.genrebox table {
	border-spacing: 0 1px !important;
	width: 100% !important;
}
.genrebox td,
.boardnav,
.boardnavlow,
.whitebox,
.graybox {
	border: 0 !important;
	font-size: 11px !important;
	margin: 1px 0 0 !important;
	padding: 1px 3px !important;
}
.columnleftcolor1,
.columnmiddlecolor1,
.columnrightcolor1,
.columncolor1 {
	background: #fff !important;
}
#gnenav + #page .whitebox {
  background: #fff;
}
.columnleftcolor2,
.columnmiddlecolor2,
.columnrightcolor2,
.columncolor2,
.graybox {
	background: #eee !important;
}

		/* Headers */

.head1b,
.head1 {
	border-bottom: 1px solid #bababa;
	color: #000 !important;
	display: block !important;
	font-size: 30px !important;
	margin: 0 0 2px !important;
	padding: 0 !important;
	text-align: center !important;
}
.subhead1,
.subhead2 {
	display: block !important;
	text-align: center !important;
}
.genrebox .genrehead,
.boardnav,
.boardnavlow,
.boxhead,
.toptenhead,
.pollhead {
	background: #44729f !important;
	border-top: 1px solid #5a96d1 !important;
	border-bottom: 1px solid #2e4d6b !important;
	color: #fff !important;
	font-weight: bold !important;
	line-height: 17px !important;
	padding: 1px 3px !important;
	text-align: center !important;
}
.genrebox .genrehead a, .genrebox .genrehead a:visited,
.boardnav a, .boardnav a:visited,
.boardnavlow a, .boardnavlow a:visited,
.boxhead a, .boxhead a:visited,
.toptenhead a, .toptenhead a:visited,
.pollhead a, .pollhead a:visited {
	color: #fff !important;
}

		/* Top-Ten Boxes */

.toptendoublebox,
.toptendouble2box {
	border: 0 !important;
	float: none !important;
}
.topten1box,
.topten2box,
.topten3box,
.topten4box {
	border: 0 !important;
	width: 50% !important;
}
.topten1,
.topten4 {
	background: #eee !important;
	margin: 0 !important;
	padding: 0 !important;
}

.toptendoublebox {
	float: left !important;
	width: 66% !important;
}

		/* Poll */

.pollbox {
	border: 0 !important;
	width: 33% !important;
}

		/* Crap */

.morebox,
.dlxbox,
.editorbox,
.newsbox {
	display: none !important;
}

		/* Inline Navigation */

.boardnavright,
.subnav2 {
	display: block !important;
	float: none !important;
	font-size: 10px !important;
	margin: 0 !important;
	text-align: center !important;
}
.boardnav,
.boardnavlow {
	display: block !important;
	float: none !important;
	margin: 1px 1px 0 !important;
	text-align: center !important;
}

		/* ...Box (argh) */

.boxbox,
.box {
	border: 0 !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.boxbox {
	margin: 1px 1px 0 !important;
}
.box {
	margin-right: -1px !important;
}
.graybox {
	font-size: 13px !important;
}

		/* Errant Things */

p:empty {
	display: none !important;
}
font {
	color: inherit !important;
	font-size: inherit !important;
	font-family: inherit !important;
}

		/* Footer */

#aboutcnet { /* Just in case there are errant floating things since by bg colour is set through #page */
	clear: both !important;
}
.footer,
#aboutcnet a {
	display: none !important;
}
#copyright {
	background: #eee !important;
	border-top: 1px solid #fff !important;
	bottom: 0 !important;
	float: none !important;
	font-size: 10px !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 1px 0 1px !important;
	position: fixed !important;
	text-align: center !important;
	width: 100% !important;
}
/* GameFOX stuff */
#gamefox-quickpost-title, #gamefox-quickpost-form
   {
    width: 100% !important;
}
#gamefox-quickpost-title
   {
    background-color: #44729F !important;
    color: #fff !important;
    border-top: 1px solid #5a96d1;
    border-bottom: 1px solid #2e4d6b;
}
#gamefox-message, #gamefox-topic
   {
    width: 70% !important;
    border-left: 2px solid #44729F;
    border-right: 2px solid #44729F;
    border-top: 2px solid #5a96d1;
    border-bottom: 2px solid #2e4d6b;
}
.gamefox-quickwhois, #gamefox-quickpost-afloat
   {
    border: 2px solid #44729F !important;
}
}