/*********************************************************
                     Midnight Shade
Stylesheet made by Jero / ragbob trianglepants / Xero Sate
                 Edited by PsyMarth2009
**********************************************************/

@-moz-document domain(gamefaqs.com) {
/*******************************************************************************
                                    FRONT PAGE
*******************************************************************************/

.adbox,.footer,#copyright,#aboutcnet,form[action="/poll/index.html"]~*,
.newon+br,.boardnavright+p,.boardnavright+br,.boardnav+p,
.boardnavright+br+p,.subnav1,.subnav2+br {
	display:none !important
}

body {
	background: #FFF !important;
	color:#000 !important;
}

#search {
	margin:0 0 1em;
	width:100% !important;
}

.nav,#topnav a,.pollbox {
	font-size:13px !important;
}

.nav {
	padding:0 0 1px;
	background:#800080 !important;
}

.topnav {
	background:#800080 !important;
}


.content * { 
	padding:0 !important;
}

.content2 {
	width:99% !important;
}

.newon {
	background:url(http://www.freewebs.com/psy2009/gf2006.PNG) no-repeat 50% 2px;
	width:66% !important;
}

.newon>.head1b {
	margin-top:72px;
	padding-top:1px !important;
	background:#A000A0 !important;
	font-style:normal !important;
}

#date {
	display:block;
	margin-top:1px;
	padding:1px 0 !important;
	background:#600060;
	font-style:italic !important;
}

.toptendoublebox,div[class$="head"]:not(.boxhead),.pollbox {
	border:2px ridge gray;
}

.toptendoublebox {
	position:absolute;
	top:270px;
	right:0;
	z-index:2;
	width:29%;
	border-width:0 2px 2px;
}

.toptendoublebox div:not([class$="head"]) {
	padding:0 0 3px !important;
	font-size:10px;
}

div[class$="head"] {
	padding:1px 0 !important;
	border-width:2px 0 !important;
}

.pollbox {
	position:absolute;
	right:0;
	width:29%;
	height:270px;
	background:#FFF;
	border-width:0 2px;
	color:#000 !important;
}

.pollbox *:not(input) {
	margin:0 !important;
}

.poll,.pollhead {
	float:left;
}

.pollhead {
background:#A000A0 !important;
}

.poll {
	padding:3px !important;
	width:98%;
	font-size:10px;
}

.poll>b {
	display:block;
	font-size:13px;
}

.poll>*[value="Vote"] {
	display:block;
	margin-top:5px;
}

.subhead1,.subhead2 {
	padding:2px !important;
	width:100% !important
}


.subhead1 {
	backgroud:#A000A0 !important;
}

.subnav2 {
	display:block;
	padding:1em 0 .5em !important
}

.subnav2 a {
	font-size:13px !important;
	font-weight:normal !important;
}

.topten3box,.topten4box,.topten3,.topten4 {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	border-width: 0 !important;
	font-size: 10px !important;
	background: #000 !important;
}

.topten3box,.topten4box {
	width:50% !important
}

.topten3 a,.topten4 a {
	font-size: 10px !important;
	color: #4F004F !important;
}

.toptenhead,.pollhead {
	border-bottom: 2px ridge #C0C0C0 !important;
}

.topten3box>.toptenhead {
	width: 99% !important;
}

.topten4box>.toptenhead {
	width: 99% !important;
	border-top: 2px ridge #C0C0C0 !important;
}

.toptenhead {
	background:#A000A0 !important;
}

.upcomingreleases {
	width: 100% !important;
}

.upcomingreleases>.upcomingreleases {
	width: 33% !important;
	font-size: 10px !important;
	border: 2px ridge #C0C0C0 !important;
}

#topsub.subhead1 {
	font-style: normal !important;
	margin-left: -2px !important;
	width: 100% !important;
	margin: 0 -2px 0 0 !important;
}

#topsub2.subnav2 {
	display: block !important;
	width: 100% !important;
	font-size: 13px !important;
	color: #FFF !important;
	height: 15px !important;
	margin: 0 !important;
}

#topsub2.subnav2>a.A {
	font-weight: bold !important;
	float: none !important;
	display: inline !important;
	color: #FFF !important;
}

.genrehead {
	padding:1px 0 !important;
	background:#A000A0 !important;
	font-size:15px !important;
	text-align:left !important;
}

td#leftnav {
        background:#800080 !important;
}
}

/*                            BOARDS.GAMEFAQS.COM                             */

@-moz-document domain(boards.gamefaqs.com) {
.adbox,.footer,#copyright,#aboutcnet,form[action="/poll/index.html"]~*,
.newon+br,.boardnavright+p,.boardnavright+br,.boardnav+p,
.boardnavright+br+p,.subnav1 {
	display:none !important
}

body {
	background:#FFF !important;
	color:#000 !important;
}

#search {
	margin:0 0 1em;
	width:100% !important;
}

.nav,#topnav a,.pollbox {
	font-size:13px !important;
}

.nav {
	padding:0 0 1px;
}

/*******************************************************************************
                                     BOARD LIST
*******************************************************************************/

.content2>.head1b {
	padding-top:5px !important;
	font-size:32px;
	font-weight:bold;
}

.content2>.head1b+.subhead1 {
	display:inline;
	font-weight:bold;
}

.subhead1 ~ .boardnavright {
	margin:0 !important;
}

.boardnavright,.subnav2 {
	display:block;
	padding:1px 0 !important;
	font:bold 16px arial,sans-serif;
	text-align:center;
}

.boardnavright a:hover,a[href*="page="]:hover,.subnav2 a:hover {
	color:yellow !important;
}

.genrebox {
	margin:1px 1px 0 -1px !important;
	padding:0 !important;
}

.genrebox td,.genrebox td a {
	padding:1px !important;
	font-size:13px !important;
}

.genrebox tr:not(:first-child)>.genrehead {
	background:#A000A0 !important;
	text-align: center !important;
}

.genrebox a[href*="gentopic"],.genrebox a[href*="boardlist"] {
	font-size:16px !important;
	font-weight:bold;
}

tr:not(:last-child) .columncolor1,tr .columncolor2,.columnleftcolor1,.columnleftcolor2 {
	font-size:12px !important;
}

/*******************************************************************************
                                   TOPIC LIST
*******************************************************************************/

.boardnav,.boardnavlow {
	float:none;
	padding:1px 0 !important;
	background:A000A0 !important;
}

.boardnav {
	display:block;
	border-top:2px solid #FFF;
	backgound:#A000A0 !important;
}

.genrehead {
	padding:1px 0 !important;
	background:#A000A0 !important;
	font-size:15px !important;
	text-align: center;
}

.boardnavlow {
	border-top:1px solid #FFF;
	background:#A000A0 !important;
}

.boardnavlow a,.subnav2,.subnav2 a {
	color:#FFF !important;
}

td[class^="columnleftcolor"] img+a {
	font-weight:bold;
}

td[class^="columnleftcolor"] img+a:link {
	color:darkred !important;
}

.subhead1+.subnav2,.subhead1+.subnav2 a {
	font-size:12px;
	font-weight:normal !important;
	color:#000 !important;
	text-align:left !important;
}

.subnav2~p {
	margin:0 !important;
}

/*******************************************************************************
                                  MESSAGE LIST
*******************************************************************************/

.boardnavright {
	margin-top:20px;
}

.box,.boxbox {
	margin:0 !important;
}

.box {
	border-top:2px solid #FFF;
}

.boxhead {
	position:absolute;
	top:85px;
	left:0px;
	padding:0 !important;
	width:100%;
	background:transparent !important;
	font:bold 16px arial,sans-serif;
	text-align:center;
	text-indent:162px
}

.whitebox,.graybox {
	padding:1px !important;
}


.whitebox {
	background:#A000A0 !important;
	color:#FFF !important;
	font:bold !important;
}

.whitebox a {
	color:#FFF !important;
	font:bold !important;
}

.graybox {
	background:#FFAEFF !important;
}

.genrehead {
	background:#600060 !important;
}

.boardnavright {
	background:#600060 !important;
}

.columnleftcolor1,.columnleftcolor2,.columnmiddlecolor1,.columnmiddlecolor2,.columnrightcolor1,.columnrightcolor2,.columncolor1,.columncolor2 {
background: #FFAEFF !important;
}

.boardnav {
	background:#A000A0 !important;
}

/* The footer text */
body:after {
  display: block;
	width:100%;
	content:"Copyright 1995-2006 GameFAQs.";
	font:10px arial,sans-serif;
	text-align:center;
}

/* Front Page hax0r */
.subhead1+a+a+p+p+.boardnavright+p+.genrebox tr:first-child>.genrehead {
	padding:1px !important;
	background:#A000A0 !important;
	font-size:16px !important;
	font-weight:bold !important;
	font-style:inherit !important;
}

td#leftnav {
        background:#800080 !important;
}

.boardnav {
	display:block;
	border-top:2px solid #FFF;
	backgound:#A000A0 !important;
}
}