[server]
host = example.com
port = 22 ;sftp
user = someguy
pass = somepassword
;uncomment to enable key auth
;keyfile = /home/someguy/.ssh/id_rsa
file_dir = public_html/gfox
web_dir = public_html/projects/gamefox
