@-moz-document domain(gamefaqs.com)
{
  table.message tr.even td { font-size: 13px !important; }
  table.message tr td + td { font-size: 13px !important; }
  table.message tr td.author { font-size: 11px !important; }
  table.message tr td.author a.name { font-size: 12px !important; }
}

@-moz-document url-prefix(http://www.gamefaqs.com/boards/post.php)
{
  table.message tr td { font-size: 13px !important; }
}
