@-moz-document domain(gamefaqs.com)
{
  table.message tr.even td { font: 13px arial !important; }
  table.message tr td + td { font: 13px arial !important; }
  table.message tr td.author { font: 11px arial !important; }
  table.message tr td.author a.name { font: 12px arial !important; }
}

@-moz-document url-prefix(http://www.gamefaqs.com/boards/post.php)
{
  table.message tr td { font: 13px arial !important; }
}
