/*********************************************************************************

							DARK FOREST - VERSION 0.1
								By Michael J Buck

*********************************************************************************/

@-moz-document domain(gamefaqs.com)
{

body, .content, .content2 {
color: #fff !important;
background: #09151A !important;
}

a {
color: #fff !important;
}

a:visited {
color: #9F9F9F !important;
}

.nav {
background: #18475C !important;
}

#leftnav {
line-height: 15px;
}

#leftnav img {
margin-bottom: -15px !important;
}

#searchbox {
width: 140% !important;
margin-bottom: 15px !important;
}

#searchtextbox {
width: 63% !important;
margin-right: 0px !important;
}

.adbox, .footer, #copyright, #aboutcnet {
display: none;
}

body:after {
display: block;
width: 100%;
content: "Copyright 1995-2006 GameFAQs.";
font: 10px arial,sans-serif;
text-align: center;
}

html:after {
display: block;
width: 100%;
content: "Feel free to link to this page, but not directly to the FAQs.";
font-size: 10px;
font-family: arial;
color: #fff !important;
text-align: center;
}


}

/*******************************
         BOARDS IN GENERAL
********************************/
@-moz-document domain(boards.gamefaqs.com)
{
.head1b {
font-weight: bold !important;
font-style: italic !important;
font-size: 250% !important;
margin-top: -10px !important;
margin-bottom: 5px !important;
color: #fff !important;
}

.boardnavright, .boardnav, .boardnavlow {
display: block !important;
}

.boardnavright {
font-size:15px !important;
margin-bottom: 2px !important;
padding: 1px 0px 1px 0px !important;
width: 99.6% !important;
background: #235367 !important;
}

.boardnavright a:hover {
color: #ff0 !important;
}

.boardnavright a:active {
color: #f00 !important;
}

.boardnav {
padding: 1px 0px 1px 0px !important;
width: 99.6% !important;
background-color: #225166 !important;
font-size: 15px !important;
}

.boardnav a:hover {
color: #ff0 !important;
}

.boardnav a:active {
color: #f00 !important;
}

.genrebox {
margin-left: -1px !important;
margin-bottom: 0px !important;
width: 99.6% !important;
}

.genrehead {
font-size: 115% !important;
background: #235367 !important;
padding: 1px 0px 1px 0px !important;
border-color: #09151A !important;
}

.subnav1 {
background: #235367 !important;
padding: 2px 0px 2px 2px !important;
margin-left: -2px !important;
color: #fff !important;
font-weight: bold !important;
font-size: 110% !important;
}

.boardnavlow {
margin-top: -5px;
padding: 1px 0px 1px 0px !important;
width: 99.6% !important;
background-color: #225166 !important;
}

.boardnavlow a {
color: #fff !important;
}

.boardnavlow a:hover {
color: #ff0 !important;
}

.boardnavlow a:active {
color: #f00 !important;
}

.boxbox {
margin-left: -7px !important;
margin-top: -29px !important;
}

.box {
width: 99% !important;
}

.whitebox {
padding: 1px 0px 1px 1px !important;
width: 100.4% !important;
background-color:#357D9E !important;
color: #fff !important;
border-color: #09151A !important;
}

.graybox {
padding: 1px 0px 1px 1px !important;
width: 100.4% !important;
background-color:#15323F !important;
color: #fff !important;
border-color: #09151A !important;
}

.subhead2 {
background: #8080ff !important;
color: #fff !important;
font-size: 120% !important;
font-weight: bold !important;
font-style: italic !important;
text-align: center !important;
padding: 1px 0px 1px 1px !important;
display: block !important;
margin-top: 2px !important;
margin-bottom: -14px !important;
}

.columnleftcolor1 a,
.columnleftcolor2 a,
.columnleftcolor1,
.columnleftcolor2,
.columnmiddlecolor1,
.columnmiddlecolor2,
.columnrightcolor1,
.columnrightcolor2,
.columncolor1,
.columncolor2,
.columncolor1 a,
.columncolor2 a,
.columnrightcolor1 a,
.columnrightcolor2 a {
font-size: 100% !important;
}

.columnleftcolor1,
.columnleftcolor2,
.columnmiddlecolor1,
.columnmiddleco