@-moz-document domain(gamefaqs.com)
{
.gamefox-character-map
{
    position: absolute;
    overflow: auto;
    height: 199px;
    margin-top: -200px !important;
    width: 400px;
    box-shadow: 0 0 10px #555;
    background: #eee;
}
.gamefox-character-map td
{
    background: transparent !important;
    padding: 0 !important;
    border: #aaa 1px solid !important;
    font-size: 12px !important;
}
.gamefox-character-map a
{
    display: block;
    padding: 9px 5px;
    background: #fff;
    text-align: center;
    font-weight: normal !important;
}
.gamefox-character-map a:visited
{
    color: inherit !important;
}
.gamefox-character-map a:hover
{
    text-decoration: none !important;
    background: #eee;
    border: #aaa 1px solid;
    padding: 8px 5px;
}
}
