/* This file contains unobtrusive styles that work with some of GameFOX's features */
@-moz-document domain(gamefaqs.com)
{
    tr.gamefox-pagelist
    {
        display: table-row;
    }

    tr.gamefox-pagelist > td
    {
        background-color: #fff !important;
        border-top: 1px solid #00004f !important;
        border-bottom: 1px solid #00004f !important;
        text-align: center !important;
        font-weight: bold !important;
    }

    .gamefox-highlight td
    {
        background: transparent !important;
    }

    .topics .gamefox-groupname
    {
        font-style: italic;
    }

    /* supposed to line up with platform jumper menu below it */
    #gamefox-favorites-menu
    {
        float: right;
        margin-top: 8px;
        width: 140px;
    }
}
