@-moz-document url-prefix(chrome://gamefox/content/sidebar.xhtml)
{
  body
  {
      background-color: #66F !important;
  }

  a
  {
      color: #fff !important;
  }
  a:hover
  {
      color: #ff0 !important;
  }

  .search-head
  {
      background: #8080ff !important;
      font-size: 1.1em !important;
  }
}
