@-moz-document domain(gamefaqs.com)
{
    #rbx_netxp1_parent, #sponsored_links, #container #footer,
    .ad, iframe, img[alt="madison"] {
        display: none !important;
    }

    /* fix top gutter with some ads */
    .has_lead #gutter_top {
        background-position: center 0 !important;
        padding-top: 14px !important;
    }
}
