@-moz-document domain(gamefaqs.com)
{
    .gamefox-quickwhois
    {
        position: absolute;
        max-width: 70%;
        overflow: auto;
        padding: 3px !important;
        text-align: left;
        /* Compatibility with themes that put a border here, since our absolute
         * position offset is hardcoded at 4px */
        border: 1px transparent solid;
        z-index: 1;

        -moz-border-radius: 5px;
        box-shadow: 0 0 10px #555;
        -moz-box-shadow: 0 0 10px #555;
        opacity: 0;
        -moz-transition: opacity .3s;
    }
    .gamefox-quickwhois a.name
    {
        margin-bottom: 2px;
    }
    .gamefox-quickwhois:not(.gamefox-quickwhois-hover) a.name
    {
        /* Don't show the username with non-hover QuickWhois, since it doesn't
         * obscure the original username link */
        display: none;
    }
    .gamefox-quickwhois table
    {
        width: auto !important;
        border: 0 !important;
        border-collapse: collapse !important; /* RetroClassic */
    }
    .gamefox-quickwhois tr, .gamefox-quickwhois td:not(#foo) /* specificity */
    {
        background-color: transparent !important;
    }
    .gamefox-quickwhois td
    {
        padding: 2px 0 0 0 !important;
        border: 0 !important;
    }
    /* First row shouldn't have top padding, but there's an empty row first, so
     * it's actually the second child */
    .gamefox-quickwhois tr:nth-child(2) td
    {
        padding-top: 0 !important;
    }
    .gamefox-quickwhois td:first-child
    {
        text-align: right;
        padding-right: 5px !important;
        opacity: .6;
        white-space: nowrap;
    }
    .gamefox-quickwhois td a
    {
        font-weight: normal !important; /* Ninestalgia */
    }
}
