@-moz-document url-prefix(http://www.gamefaqs.com/boards) {
    /* redisplay Board Information side pane in the bottom of board list */
    #side_col_wrap > #side_col > div:not(:first-child) {
        display: none !important;
    }
    #side_col_wrap > #side_col > div:first-child {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 850px !important;
    }
    #side_col_wrap > #side_col > div:first-child h1 {
        background: #fff !important;
        color: #000 !important;
        font-size: 2.5em !important;
    }

    /* add title to gamespace */
    .gamespace_nav:before {
        content: 'Message Board';
        color: #fff;
        text-align: center;
        font-size: 13pt !important;
        font-weight: bold;
        display: block;
    }
}

@-moz-document domain(www.gamefaqs.com) {
    /* Ads, etc */

    .rubics_netxp1_main,
    #gne_nav,
    #logo,
    #content + img,
    #board_wrap > div.ad,
    #board_wrap + div,
    #mpu_wrap,
    #footer,
    img[alt="madison"],
    img[alt="advertisement"],
    img[alt="Click Here"],
    div[style="padding:10px 0px 0px 0px; float:left; clear:left;"],
    div[style="text-align:center"],
    iframe {
        display: none !important;
    }

    /* Basic Page Stuff */

    html {
        border-left: #6666ff 150px solid;
    }
    html,
    body {
        margin: 0 !important;
        padding: 0 !important;
        font-family: arial, sans-serif !important;
        font-size: 9pt !important;
    }
    body {
        background: #fff !important;
    }

    table {
        width: 100% !important;
    }

    p {
        margin: 0 !important;
    }

    /* Links */

    a {
        color: #00004f !important;
        text-decoration: underline !important;
    }

    table a:visited {
        color: #0000af !important;
    }

    #header a,
    #quicknav a,
    #platformlist a,
    .user a,
    .pages a,
    .pagejumper a,
    .gamespace_nav a {
        color: #fff !important;
        font-weight: bold !important;
        margin: 0 5px !important;
    }
    .gamespace_nav a {
        text-decoration: none !important;
        margin: 0 !important;
    }
    #header a {
        margin-right: 0 !important;
        text-transform: capitalize !important;
    }
    .user a,
    .pages a {
        margin: 0 !important;
    }

    #header a:hover,
    #quicknav a:hover,
    #platformlist a:hover,
    #searchbox a:hover,
    .user a:hover,
    .pages a:hover,
    .pagejumper a:hover,
    .gamespace_nav a:hover {
        color: #ff0 !important;
        text-decoration: underline !important;
    }

    /* Header */

    #header {
        background: #66f !important;
        color: #fff !important;
        text-align: center !important;
        padding: 25px 0 3px 0 !important;
        font-size: 1.1em;
    }
    #header div {
        display: inline;
    }
    #header .nav {
        margin-left: 15px;
    }
    #header a {
        text-decoration: none !important;
    }

    #platformlist {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        color: #fff !important;
    }
    #platformlist div, #platformlist form {
        display: inline !important;
    }
    #platformlist a {
        text-decoration: none !important;
        margin: 0 2px !important;
    }
    #platformlist b {
        display: none !important;
    }

    #quicknav,
    #searchbox {
        padding: 2px !important;
    }

    #quicknav {
        position: absolute;
        top: 3px;
        left: -150px;
        background: #66f url(http://www.gamefaqs.com/shared/bar2001.gif) no-repeat top left !important;
        padding-top: 50px !important;
        padding-left: 0 !important;
        width: 148px;
    }

    #quicknav a {
        font-size: 1.1em;
        margin-left: 1px !important;
        display: block;
        text-decoration: none !important;
    }

    #searchbox {
        color: #fff !important;
        padding: 2px !important;
        font-weight: bold !important;
        position: absolute !important;
        top:  163px !important;
        left: -151px !important;
        z-index: 5 !important;
    }

    #searchbox input {
        width: 90px !important;
    }
    #searchbox select {
        display: none;
    }

    #searchbox a {
        font-size: 1.1em;
        display: block;
        color: #fff !important;
        text-decoration: none !important;
    }
    .gamespace_nav {
        background: #00f !important;
        padding: 2px 2px 2px 0 !important;
        margin: 2px 0 !important;
        overflow: hidden !important;
    }

    .crumbs {
        background: #00f;
        padding: 2px;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
    }
    .crumbs a {
        color: #fff !important;
    }

    .gamespace_nav ul {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 13px !important;
        text-align: center !important;
    }

    .gamespace_nav li,
    .pagejumper li {
        display: inline !important;
    }

    .gamespace_nav li:not(:last-child):after {
        content: ' | ' !important;
        color: #fff !important;
        font-weight: bold !important;
    }

    /* User Bar */

    .user,
    .pages,
    .pagejumper {
        display: block !important;
        padding: 2px !important;
        font-size: 15px !important;
        font-weight: bold !important;
        color: #fff !important;
        background: #00f !important;
        text-align: center !important;
        margin: 2px 2px 0 2px !important;
    }

    .pages,
    .pagejumper {
        font-style: italic;
    }

    .pages {
        background: #8080ff !important;
    }

    .pagejumper {
        margin: 2px !important;
        background: #8080ff !important;
        margin-top: 0 !important;
    }

    .searchtopics {
        margin-top: 0 !important;
        text-align: center;
    }

    .searchtopics a {
        display: none;
    }

    .pagejumper ul {
        margin: 0 !important;
        padding: 0 !important;
    }

    .pagejumper li:not(:last-child):after {
        content: ' | ' !important;
    }

    /* Tables */

    td,
    th {
        padding: 2px !important;
    }

    th,
    .today .head h1,
    .pod .head h1 {
        background: #8080ff !important;
        font-size: 15px !important;
        color: #fff !important;
    }

    table:not(.topics) tbody .head:first-child th {
        background: #00f !important;
    }

    .topics th {
        font-style: italic;
    }

    table:not(.message) tr:not(.gamefox-highlight) td {
        background: #d0d0ff !important;
    }

    /* Page Content */

    h1 {
        text-align: center !important;
        margin: 0 !important;
        padding: 3px !important;
        font-size: 28px !important;
        font-style: italic !important;
    }

    .crumbs + h1 { /* game boards */
        font-size: 3em !important;
        padding: 0 !important;
    }

    /* Main Page */

    .today .date {
        background: #00f;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        color: #fff;
        margin-bottom: 2px;
    }

    .gs {
        display: none;
    }

    /* Messages */

    .message tr:not(.even) > td:not([style]):first-child,
    .message tr.even > .author:not([style]) {
        background: #b0b0ff !important;
    }

    .message tr > td:first-child:before {
        content: 'From: ' !important;
        font-weight: bold !important;
    }

    /* Fix for New Posting Engine */
    .message tr:only-child > td:only-child:before {
        content: '' !important;
    }

    .message .even > td:last-child,
    .message tr:not(.even) > .author + td:not([style]):last-child,
    .author + td {
        background: #d0d0ff !important;
    }

    .message .even > td:last-child:before {
        content: '' !important;
    }

    .message a.name + a,
    .message a.name + span + a,
    .message a.name + span + span + a,
    .message a.name + br + br + a,
    a.gamefox-delete-link {
        text-transform: capitalize !important;
    }

    .message td {
        vertical-align: top !important;
    }

    .author {
        width: 15% !important;
    }

    #board_wrap .head h1 {
        font-size: 16px !important;
        text-align: center !important;
        margin: 0 !important;
        padding: 1px !important;
        font-style: normal !important;
    }

    /* Whois */
    table.userinfo tr {
        margin: 0 !important;
    }
    table.userinfo tr.even td {
        background: #e0e0e0 !important;
    }
    table.userinfo tr:not(.even) td {
        background: #fff !important;
    }

    /* Poll and Contest Bracket */

    div.bar {
        background: #00f;
    }

    td.divh {
        font-weight: bold;
    }

    .bracket .win {
        background: #8f8;
    }

    .bracket .lose {
        background: #f88;
    }

    .bracket .part {
        background: #ff8;
    }

    /* Board Information */
    #side_col .pod p {
        margin-top: 1em !important;
    }

    /* QuickPost */
    #gamefox-quickpost-title {
        background-color: #00f !important;
        font: bold 16px arial, sans-serif !important;
        margin: 0 2px 2px 2px !important;
        width: auto !important;
    }

    #gamefox-quickpost-form {
        text-align: center;
    }

    #gamefox-message {
        max-width: 700px;
    }
}
